/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

/* Header y navegación */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    display: inline;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: blue;
    text-decoration: underline;
}


/* Main content */
main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 1000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

/* Separadores */
hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.message,
.alert-success,
.alert{
    padding: 20px;
    background-color: #1f7e58;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo general para el artículo */
.article-item {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor de datos */
.data {
    flex: 1;
    padding-right: 20px;
}

/* Estilo para el título del coche */
.article-item h2 a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}

.article-item h2 a:hover {
    color: #4CAF50;
}

/* Estilo para la fecha y otros detalles */
.date {
    display: block;
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Estilo para el texto del artículo */
.article-item p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Estilo para los botones */
.btn {
    display: inline-block;
    padding: 10px 15px;
    color: white !important;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.btn-warning {
    background: rgb(47, 70, 206) ;
}

.btn-danger {
    background: rgb(194, 66, 34) ;
}


.btn:hover {
    background-color: #45a049;
}

/* Asegura que los elementos floten correctamente */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}