<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | Aprendiendo Flask {% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
</head>
<body>
    <h1>Aprendiendo Flask</h1>
    <hr>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="{{url_for('crear_coche')}}">Nuevo coche</a>
            </li>
            <li>
                <a href="{{url_for('coches')}}">Lista de coches</a>
            </li>
            <li>
                <a href="{{url_for('informacion')}}">Informacion</a>
            </li>
        </ul>
    </nav>
    <hr>

    <section id="content">  
        {% block content %}

        {% endblock %}
    </section>
    <hr>
    <footer>
        Master en python
    </footer>

</body>
</html>